/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #e4e4e4;
  --text-color-orange: #ff956e;
}

/* ---------- general styling ---------- */
html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  background-color: #F6FDFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(118,1720,643)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f6fdff'/%3E%3Cstop offset='0.02' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.02' stop-color='%23e8eef0'/%3E%3Cstop offset='0.032' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.032' stop-color='%23e9f0f2'/%3E%3Cstop offset='0.056' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.056' stop-color='%23f1f7f9'/%3E%3Cstop offset='0.07' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.07' stop-color='%23edf3f5'/%3E%3Cstop offset='0.1' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.1' stop-color='%23eef5f6'/%3E%3Cstop offset='0.126' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.126' stop-color='%23f2f9fa'/%3E%3Cstop offset='0.142' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.142' stop-color='%23f6fdff'/%3E%3Cstop offset='0.159' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.159' stop-color='%23f5fcfe'/%3E%3Cstop offset='0.17' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.17' stop-color='%23f6fcfe'/%3E%3Cstop offset='0.197' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.197' stop-color='%23f4fafc'/%3E%3Cstop offset='0.218' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.218' stop-color='%23f7fdff'/%3E%3Cstop offset='0.239' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.239' stop-color='%23f0f7f9'/%3E%3Cstop offset='0.254' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.254' stop-color='%23edf4f5'/%3E%3Cstop offset='0.283' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.283' stop-color='%23f6fdfe'/%3E%3Cstop offset='0.294' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.294' stop-color='%23f4fbfd'/%3E%3Cstop offset='0.305' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.305' stop-color='%23f1f8f9'/%3E%3Cstop offset='0.332' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.332' stop-color='%23f4fbfd'/%3E%3Cstop offset='0.346' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.346' stop-color='%23edf3f5'/%3E%3Cstop offset='0.362' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.362' stop-color='%23f1f8f9'/%3E%3Cstop offset='0.381' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.381' stop-color='%23f1f8fa'/%3E%3Cstop offset='0.415' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.415' stop-color='%23f2f9fb'/%3E%3Cstop offset='0.428' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.428' stop-color='%23e5ecee'/%3E%3Cstop offset='0.442' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.442' stop-color='%23f4fbfc'/%3E%3Cstop offset='0.456' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.456' stop-color='%23f1f7f9'/%3E%3Cstop offset='0.498' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.498' stop-color='%23f5fcfe'/%3E%3Cstop offset='0.511' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.511' stop-color='%23ecf3f5'/%3E%3Cstop offset='0.532' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.532' stop-color='%23f6fcfe'/%3E%3Cstop offset='0.541' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.541' stop-color='%23f5fcfe'/%3E%3Cstop offset='0.56' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.56' stop-color='%23eff6f7'/%3E%3Cstop offset='0.581' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.581' stop-color='%23f6fcfe'/%3E%3Cstop offset='0.6' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.6' stop-color='%23edf4f6'/%3E%3Cstop offset='0.618' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.618' stop-color='%23f6fcfe'/%3E%3Cstop offset='0.656' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.656' stop-color='%23f4fbfd'/%3E%3Cstop offset='0.679' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.679' stop-color='%23f6fdff'/%3E%3Cstop offset='0.689' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.689' stop-color='%23f3fafc'/%3E%3Cstop offset='0.720' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.720' stop-color='%23f0f7f8'/%3E%3Cstop offset='0.734' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.734' stop-color='%23eff6f8'/%3E%3Cstop offset='0.748' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.748' stop-color='%23f6fdff'/%3E%3Cstop offset='0.764' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.764' stop-color='%23f6fdff'/%3E%3Cstop offset='0.788' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.788' stop-color='%23f3f9fb'/%3E%3Cstop offset='0.808' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.808' stop-color='%23f2f9fb'/%3E%3Cstop offset='0.831' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.831' stop-color='%23e8eff1'/%3E%3Cstop offset='0.856' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.856' stop-color='%23f1f8fa'/%3E%3Cstop offset='0.872' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.872' stop-color='%23f2f8fa'/%3E%3Cstop offset='0.894' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.894' stop-color='%23f3fafb'/%3E%3Cstop offset='0.914' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.914' stop-color='%23f5fcfe'/%3E%3Cstop offset='0.942' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.942' stop-color='%23f6fcfe'/%3E%3Cstop offset='0.957' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.957' stop-color='%23f4fbfd'/%3E%3Cstop offset='0.973' stop-color='%23F6FDFF'/%3E%3Cstop offset='0.973' stop-color='%23f3fafc'/%3E%3Cstop offset='1' stop-color='%23F6FDFF'/%3E%3Cstop offset='1' stop-color='%23f0f6f8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  color: #2b2b2b;
  font-family: 'Faster One', cursive;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2rem;
  margin: 0.5em 0 0.2em;
}

p {
   color: #2c2c2c91;
  font-style: italic;
}

blockquote {
  padding-top: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  color: #2b2b2b;
  max-width: 450px;
  margin: 0 auto;
}

header, header details {
  margin: 2rem 0;
}

header input {
  font-size: 1.5rem;
  width: 60%;
}

.details-wrapper {
  display: flex;
  justify-content: center;
}

details {
  width: 40%;
}

details input, details button {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

details button {
  width: 6rem;
  padding: 0.1rem .5rem;
}

header button {
  display: block;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container > article {
  text-align: center;
  padding: 1em;
}

.grid-container > article img {
  max-width: 450px;
  width: 100%;
}
